<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Studiu Individual</h1>
        <p><a href="/Produs/Index" class="btn btn-link">Magazin de produse</a></p>
        <h2>Condiția</h2>
        <p class="text-justify">
            <strong>Sarcina individuală:</strong> Gestionarea unei baze de date de produse cu panou de administrare folosind ASP.NET Core MVC.
        </p>
        <p class="text-justify">
            <strong>Scopul sarcinii:</strong> Este necesar să creați o aplicație web utilizând ASP.NET Core MVC, care permite gestionarea unei baze de date de produse printr-un panou de administrare. Aplicația va oferi funcționalități de adăugare, editare, vizualizare și ștergere a produselor dintr-o bază de date, cu acces controlat pentru administratorii aplicației.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}